body {
    text-align: center;
    font-family: 'Lato', sans-serif;;
}

.bold {
    background-color: lightgoldenrodyellow;
}

.title {
    padding-bottom: 10px;
}

.active {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin: 25px 100px 25px 100px;
    height: 450px;
}

.leftcolumn {
    width: 50%;
    height: 100%;
    display: inline;
    padding: 0 10px 0 0;
    float: left;
}

.rightcolumn {
    text-align: left;
    display: inline;
    width: 50%;
    height: 100%;
    padding: 0 0 0 10px;
    float: right;

}

.leaflet-control-container {
    height:400px;
    max-width: 400px;
}

#add_another_button {
    padding-left: 10px;
}
