body {
    text-align: center;
    font-family: 'Lato', sans-serif;;
}

.bold {
    background-color: lightgoldenrodyellow;
}

#map {
    height:400px;
    width:50%;
}

.leaflet-control-container {
    padding: 5px 10px 5px 10px;
}

.title {
    padding-bottom: 10px;
}

.active {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin: 25px 100px 25px 100px;
}

/*This doesn't work'*/
#popup {
    max-width: 50px;
    background-color: purple;
}