body {
    text-align: center;
    font-family: 'Lato', sans-serif;;
}

.bold {
    background-color: lightgoldenrodyellow;
}

#map {
    height:400px;
    width:80%;
}

.left-column{
    padding: 25px 100px 25px 100px;
}

/*This doesn't work'*/
#popup {
    max-width: 50px;
    background-color: purple;
}