{% extends 'Fruit_Finder_base.html' %}
{% load staticfiles %}


{% block left_column %}
    <div id="map">
        <script src="{% static 'fruitlocations/js/add_fruit.js' %}" type="text/javascript"></script>
    </div>
{% endblock left_column %}

{% block right_column %}
    <p>Hi there!</p>
    <div id="form-div" >
        <br>
        <p><em>*All fields are required</em></p>
        <form action="" method="POST">{% csrf_token %}
            <div id="'add_fruit_field">
                <label>1) Place the marker where the fruit is</label>
                {{ form.coordinates }}
                <input id="coordinates" name="coordinates" placeholder="Coordinates"/>
            </div><br>
            <div id="'add_fruit_field">
                <label>2) What kind of fruit is it (e.g. apple or pear, but do not include variety)?</label>
                {{ form.fruit_variety }}
                <input id="fruit_variety" name="Fruit Variety" placeholder="Fruit variety"/>
            </div><br>
            <div id="'add_fruit_field">
                <input type="submit" name="submit" class="btn" value="Add fruit!">
            </div>
        </form><br>
    </div>
{% endblock right_column %}