{% extends 'Fruit_Finder_base.html' %}

{% block right_column %}
    <h2>Welcome!</h2>
    <p>We are so excited you are interested in being a part of your growing urban food ecosystem. With Urban Fruit Finder you can locate  fruit near you, add undiscovered fruit trees, and learn best practices for harvesting. To use the urban fruit finder's mapping capability you must register and login.</p><br>
    <p>Feed yourself, family or share with your community.  Urban fruit finder is your tool to become a part of your greater urban foraging family, source food locally, and be committed to conserving not wasting food resources.</p><br>
    <p>How we harvest fruit is important so,please, make sure you read the 'Ethics' and 'How to pick' pages in our About section. </p>
{%  endblock right_column %}