{% extends 'Fruit_Finder_base.html' %}

{{% block right_column %}
    {% if first_name != None %}
        <h2>Welcome back!</h2>
        <h3>{{ first_name }}'s Profile Page</h3>
    {% else %}
        <h3>Welcome <em>{{ username }}</em>, please update your profile page.</h3> <h4>We're into using first names around here!</h4>
    {% endif %}
    {% for field in forms %}
        {{ field.errors }}
    {% endfor %}
    <p>Please fill in the following fields to complete or update your profile.</p>
    <br>
    <form action="" method="post">{% csrf_token %}
    {{ form.as_ul }}

    <input type="submit" class="btn btn-primary" value="Update"/>
    <a href="/logout/"><button type="button" class="btn btn-primary">Logout</button></a>
    </form>

{% endblock right_column %}}