{% extends 'Fruit_Finder_base.html' %}

{% block registration %}
<div class="modal fade" id="myModal_register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Register for the Urban fruit finder here!</h4>
            </div>
            <div class="modal-body">
                <form action ='/registration/' method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register"/>
                </form>
            </div>
            <div class="modal-footer">
                <p> Please read the <span class="bold">'Ethics' </span>and <span class="bold">'How to Pick'</span>
                    section! Being considerate of the people who care for fruit
                    trees builds our community and keeps food conservation a priority for all.</p>
            </div>
        </div>
    </div>
</div>
{% endblock registration %}